/*codigo de estilos y atributos del index principal */
body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.navBar{
	height: 80px;
	background: #F1524F;
}
.pokelite{
	color: #FFF;
	font-stretch: condensed;
	font-size: 50px;
	font-weight: bold;
	font-family: 'Oswald', sans-serif;

}