<!--codigo de index principal html extructura principal-->
<!doctype html>
<html lang="en" dir="rtl" ng-app="pokeapilite">
  <head>

  	<!--hosted libraries-->
  	<script src="lib/jquery.js"></script>


    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
  	<link rel="stylesheet" href="lib/bootstrap/css/bootstrap.css">

  	<!--link principal de css-->
  	<link rel="stylesheet" href="css/style.css">

  	<!--link de css de iconos icomoon free-->
  	<link rel="stylesheet" href="resource/fonts/style.css">

    <!--fonts google-->
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">



  	<!--icono para la pestaña-->
  	<link rel="icon" href="img/html.png">

    <title>Pokemon</title>


  </head>
  <body ng-controller="appCtrl">


    <div class="container-fluid navBar">
      <div class="row">
        <div class="col-md-12 text-center">
          <span class="pokelite">PokeLite</span>
        </div>
      </div>

    </div>
   <br>

<input type="text" ng-model="nomP">

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Abilite</th>            
                <th>ID</th>
                <th>Pokemon</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="i in Pokeapi | filter: nomP">
                <td class="danger">
                  <img src="{{i.data.sprites.front_default}} ">
                </td>
                <td class="success">
                  <h3>{{i.data.id}}</h3>
                </td>
                <td class="info text-center">
                  <h3>Pokemon: {{i.data.name}}</h3>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>






    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="lib/angular.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="lib/bootstrap/js/bootstrap.js"></script>
    <script src="lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="js/script.js"></script>



<!--este codigo es de gerson daniel boche peralta -->

  </body>
</html>