<!--codigo de index principal html extructura principal-->
<!doctype html>
<html lang="en" dir="rtl" ng-app="clima">
  <head>

  	<!--hosted libraries-->
  	<script src="lib/jquery.js"></script>


    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
  	<link rel="stylesheet" href="lib/bootstrap/css/bootstrap.css">

  	<!--link principal de css-->
  	<link rel="stylesheet" href="css/style.css">

  	<!--link de css de iconos icomoon free-->
  	<link rel="stylesheet" href="resource/fonts/style.css">

    <!--fonts google-->
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">



  	<!--icono para la pestaña-->
  	<link rel="icon" href="img/html.png">

    <title>Open Weather Api.</title>


  </head>
  <body ng-controller="climaCtrl">



    <div class="container-fluid">
      <div class="row">
        <form>
          <input ng-model="x">
          <button class="btn btn-danger" ng-click="sendData(x)">Clima.</button>
        </form>
        <div class="clima" ng-repeat="c in info">
          <p>Clima en: {{c.data.name}}, {{c.data.sys.country}} </p>
          <p>Temperatura: {{c.data.main.temp}}° </p>
          <p>Temperatura Maxima: {{c.data.main.temp_max}}° </p>
          <p>Temperatura Minima: {{c.data.main.temp_min}}° </p>
          <p>Presion: {{c.data.main.pressure}}Hpa </p>
          <p>Humedad: {{c.data.main.humidity}}% </p>
          <p>Localizacion:{{c.data.coord.lon}},{{c.data.coord.lat}}m. </p>
        </div>




      </div>
    </div>









    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="lib/angular.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="lib/bootstrap/js/bootstrap.js"></script>
    <script src="lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="js/script.js"></script>



<!--este codigo es de gerson daniel boche peralta -->

  </body>
</html>